/*------------------------------------*\
HELPERS / UTILITIES
\*------------------------------------*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.nowrap {
    white-space: nowrap;
}

%uAlert {
    width: 100%;
    padding: $safeArea;
    text-align: center;
}

.u {
    &-emptyState {
        width: 100%;
        padding: $safeArea*8 $safeArea;
        text-align: center;
    }

    &-alert {
        &--error {
            @extend %uAlert;
            background: $clr-red-lighten45;
        }
    }
}
